<div class="card text-center bg-dark" style="margin-top: 300px;">
    <div class="card-body">
      <h5 class="card-title">CREATED BY KHUDAYOR MAVLONOV</h5>
      <p class="card-text">An app that provides information about cars around the world.</p>
    </div>
    <div class="card-footer text-muted">
        © 2020
    </div>
  </div>